{% extends "base.html" %}
{% set title = "workout Entry" %}

{% block content %}
<h1>Workout Entry</h1>

<p><strong>Benefit:</strong> Log workouts to track your activities over time</p>

{% if status %}
    <p>{{ status }}</p>

{% endif %}

<form method="post">
    <label> Workout type: <input name="workout_type"></label><br><br>
    <label>Duration (minutes): <input name="duration" type="number" min="1"> </label><br><br>
    <label>Additional notes:</label><br>
    <textarea name="notes" row="4" cols="40"></textarea><br><br>

    <button type="submit">Save</button>
    <a href="{{ url_for('entry') }}">cancel</a>
</form>
{% endblock %}